@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/*the calculator display*/
#display {
    flex: 1;
    text-align: right;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    align-content: center;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    font-size: 20pt;
    background-color: rgb(13, 41, 25);
    text-overflow: clip;
}

#container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    
}

#calc-main {
    background-color: rgb(28, 50, 59);
    border-radius: 19px;
    display: flex;
    flex-direction: column;


}
/*a row of buttons*/
.row {
    flex: 1;
    display: flex;
    border: none;

}

button {
    flex: 1;
    background-color: rgb(28, 50, 59);
    border: 20px solid rgb(28, 50, 59);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.pressed {
    border-color: red;
    border-radius: 10px;
}